<!-- Generated template for the SigninComponent component -->
<div>
  
      <ion-card>
        <button ion-button (click)="signIn('facebook')" *ngIf="!account.loggedin">
            <ion-icon name="logo-facebook"></ion-icon>
            &nbsp;
          FACEBOOK LOGIN</button>
      </ion-card>
  
      <ion-card>
        <button ion-button (click)="signIn('google')" *ngIf="!account.loggedin" >
            <ion-icon name="logo-google"></ion-icon>
            &nbsp;
          GOOGLE LOGIN</button>
      </ion-card>
  
    <ion-card *ngIf="account.loggedin">
      <img src="{{account.profilePicture}}"/>
      <ion-card-content>
        <ion-card-title>
          {{ account.name }}
          </ion-card-title>
        <p>
          {{account.email}}
        </p>
        <button ion-button (click)="signOut()">LOGOUT</button>
      </ion-card-content>

    

    

    </ion-card>

    <ion-card>
      <button ion-button (click)="addProperty()">
        Add Property
      </button>

      <button ion-button (click)="loadAndParseProperties()" *ngIf="!account.displayProperty" >
        View Your Property
      </button>  

      


    </ion-card>


        
          <ion-list *ngIf="displayP">
              <p>All Your Properties</p>
            <ion-item #item *ngFor="let property of properties | async">
              <ion-item>
                <ion-card-title>
                  <p>ERF: {{ property.erf }}</p>
                </ion-card-title>
                <p>{{property.town}} ({{property.location}})</p>
                <p>Description: {{ property.description }}</p>
                <p>Type: {{ property.type }}</p>
              </ion-item>  
            </ion-item>
          </ion-list>  
    
    


</div>
